.adressc{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.adressinput{
    border: 1px solid grey;
    border-radius: 40px;
    width: 100%;
    height: 50px;
}
.adressheading{
    color: #192655;
    font-size: 40px;
}
.checkboxadress{
    display: flex;
    gap:20px;
    color: #192655;
    font-size: 40px;
}
.adresscheckbox{
    margin-top: 20px;
}
.webkit-input-placeholder{
    color: #192655;
    font-size: 20px;
}
input{
    padding:20px;
}